In [50]:
!pip install census
!pip install us
!pip install addfips

Requirement already satisfied: census in c:\users\lkchi\anaconda3\lib\site-packages (0.8.23)
Requirement already satisfied: requests>=1.1.0 in c:\users\lkchi\anaconda3\lib\site-packages (from census) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lkchi\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2024.8.30)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\lkchi\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lkchi\anaconda3\lib\site-packages (from requests>=1.1.0->census) (1.26.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lkchi\anaconda3\lib\site-packages (from requests>=1.1.0->census) (3.3)
Requirement already satisfied: us in c:\users\lkchi\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: jellyfish in c:\users\lkchi\anaconda3\lib\site-packages (from us) (1.1.3)
Collecting addfips
  Downloading addfips-0.4.2-py3-none-any.whl (120 kB)
Installing collected packages: addfips
Successfully installed addfips-0.4.2

In [21]:
from census import Census
from us import states
import API_KEYS
import pandas as pd

c = Census(API_KEYS.API_KEY)

In [ ]:

for i in range(2009, 2023):
    if i == 2009:
        data = c.acs5dp.state_county(('DP03_0006E', 'DP03_0009PE', 'DP03_0064E', 'DP03_0063E', 'DP04_0003E', 'DP04_0005E', 'DP03_0103E', 'DP04_0088E','NAME'), '*', '*', year = i) 
        #mil pop, unemployment %, mean income, median income, vacant housing units, rental vacany rate, % below poverty, median house value
        #https://api.census.gov/data/2009/acs/acs5/profile/variables/DP03_0006E.html
    else:
        data = c.acs5dp.state_county(('DP03_0006E', 'DP03_0009PE', 'DP03_0064E', 'DP03_0063E', 'DP04_0003E', 'DP04_0005E', 'DP03_0119PE', 'DP04_0088E','NAME'), '*', '*', year = i) 
        #mil pop, unemployment %, mean income, median income, vacant housing units, rental vacany rate, % below poverty, median house value
        #https://api.census.gov/data/2022/acs/acs5/profile/variables.html
    
    cen_data = pd.DataFrame(data)
    cen_data[['county_name', 'state_name']] = cen_data['NAME'].str.split(',', expand = True)
    cen_data.columns = ['mil pop', 'unemployment %', 'mean income', 'median income', 'vacant housing units', 'rental vacany rate', '% below poverty line', 'median house value', *cen_data.columns[8:]]
    cen_data.to_csv(str(i)+'_census_data.csv', index = False)
    print(i)

2009

In [47]:
data = c.acs5dp.state_county(('DP03_0006E', 'DP03_0009PE', 'DP03_0064E', 'DP03_0063E', 'DP04_0003E', 'DP04_0005E', 'DP03_0119PE', 'DP04_0088E','NAME'), '*', '*', year = 2010)
pd.DataFrame(data)

,DP03_0006E,DP03_0009PE,DP03_0064E,DP03_0063E,DP04_0003E,DP04_0005E,DP03_0119PE,DP04_0088E,NAME,state,county
0,13.0,10.1,3283.0,19689.0,1092.0,3.9,54.3,81300.0,"Comerío Municipio, Puerto Rico",72,045
1,38.0,33.6,3111.0,17253.0,2440.0,5.2,59.0,74900.0,"Guánica Municipio, Puerto Rico",72,055
2,143.0,6.5,33815.0,51519.0,8713.0,14.2,16.6,161400.0,"Clarke County, Georgia",13,059
3,0.0,20.5,668.0,33712.0,802.0,16.9,25.5,58500.0,"Clay County, Georgia",13,061
4,759.0,13.1,76290.0,52802.0,17653.0,17.2,13.6,127800.0,"Clayton County, Georgia",13,063
...,...,...,...,...,...,...,...,...,...,...,...
3216,0.0,9.0,5539.0,21693.0,2000.0,5.9,45.4,95700.0,"Añasco Municipio, Puerto Rico",72,011
3217,0.0,23.6,6281.0,18216.0,3588.0,15.1,55.5,93600.0,"San Sebastián Municipio, Puerto Rico",72,131
3218,20.0,23.5,5861.0,28386.0,966.0,3.6,44.1,119800.0,"Cataño Municipio, Puerto Rico",72,033
3219,171.0,17.0,48688.0,33832.0,9097.0,8.8,29.7,141300.0,"Bayamón Municipio, Puerto Rico",72,021
3220,0.0,18.3,4648.0,20794.0,1297.0,6.6,54.4,76300.0,"Peñuelas Municipio, Puerto Rico",72,111